@model dynamic
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="../../Content/styles/PedalEdit.css" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Edit</h1>
}