<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SAMStockEntities" connectionString="metadata=res://*/Database.Stock.csdl|res://*/Database.Stock.ssdl|res://*/Database.Stock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2012;initial catalog=SAMStock.Test;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>