<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SAMStockEntities" connectionString="metadata=res://*/Database.SAMStockEntities.csdl|res://*/Database.SAMStockEntities.ssdl|res://*/Database.SAMStockEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2012;initial catalog=SAMStock;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>