@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Admin.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Configuration</h1>
    @using (Html.BeginForm("Config", "Admin"))
    {
        <div>
            @Html.Label("VAT")
            <input name="vat" type="text" title="A valid percentage" pattern="[0-9]+[,[0-9]+]{0,1}" />
            <button>Update</button>
        </div>
    }
}
