#pedalList
{
    overflow: auto;
}

.pedal
{
    float: left;
    background-color: Black;
    margin: 0.5em;
    border-radius: 0.3em;
}

.pedal a
{
    text-decoration: none;
    color: White;
    font-size: larger;
    font-weight: bolder;
    display: block;
    padding: 0.5em;
}