body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* custom */

.button, th
{
    background-color: Black;
    color: White;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

td
{
    padding: 0em 0.4em 0 0.4em;
}

a.button
{
    text-decoration: none;
}

td
{
    border: 1px solid #dddddd;
}

th 
{
    border: 1px solid #cccccc;
}

tr:nth-child(odd) 
{
    background-color: #eeeeee;
}

table
{
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

.navigation
{
    font-size: larger;
    border: 2px outset gray;
    font-weight: bolder;
    padding: 0.2em 0.6em 0.2em 0.6em;
}

.listProperty
{
    text-align: right;
    font-family: Monospace;
}

.listProperty *
{
    margin: 0 auto;
}

.description
{
    text-align: left;
}

.description *
{
    margin: 0 auto;
}

.detail
{
    text-align: center;
}

.detail *
{
    margin: 0 auto;
}