.pedalLink 
{
    background-color: Black;
    margin: 2p;
    text-align: center;
    border-radius: 1em;
}

.pedalLink a 
{
    color: White;
    margin: 1em;
    text-decoration: none;
}

#create 
{
    background-color: Blue;
    margin: 2px;
    text-align: center;
    border-radius: 1em;
}

#create a
{
    color: White;
    margin: 1em;
    text-decoration: none;
}