@model dynamic

<button onclick="window.location='Dashboard'">Dashboard</button>

<button onclick="window.location='Stock'">Stock</button>
<button>Pedalen</button>
<button>Bestellingen</button>
<button>Klant</button>
<button>Onkosten</button>
<button>Logboek</button>
<button>Herstellingen</button>
<button onclick="window.location='Beheer/Leveranciers'">Beheer</button>